#header {
    height: 100px;
    background-color: blue;
}

#nav {
    float: left;
    width: 10%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contenido {
    float: left;
    width: 90%;
    height: 300px;
    background-color: green;
}

#footer {
    clear: both;
    height: 12%;
    background-color: red;
    overflow: hidden;
}